<h1>Uploaded images</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Image Name</th>
    <th>Uploaded Name</th>
    <th>Checksum</th>
    <th>Events</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let image of view.images; let i = index">
    <th scope="row">{{ image?.id }}</th>
    <td>{{ image?.imageName }}</td>
    <td>{{ image?.uploadUserName }}</td>
    <td class="checksum">{{ image?.checksum }}</td>
    <td class="text-center">
      <button (click)="modal.open(image)" class="btn btn-info">View</button>
      <button (click)="view.delImage(i)" class="btn btn-danger">Delete</button>
    </td>
  </tr>

  </tbody>
</table>


<div *ngIf="modal.isShow">
  <div class="modal fade show">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{modal.image.imageName}}</h5>
          <button (click)="modal.close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <img [src]="modal.image.blob" [alt]="modal.image.imageName" [title]="modal.image.imageName">
          </p>
        </div>
        <div class="modal-footer">
          <button (click)="modal.close()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
</div>
