<header>

  <nav class="navbar navbar-inverse bg-light">
    <h1 class="navbar-brand mb-0">{{title}}</h1>

    <div  [ngSwitch]="auth.isAuthorized" class="nav nav-pills">

      <ng-template [ngSwitchCase]="true">
        <a routerLink="view/table" routerLinkActive="active" class="nav-link">table</a>
        <a routerLink="view/blocks" routerLinkActive="active" class="nav-link">block</a>
        <a routerLink="upload" routerLinkActive="active" class="nav-link">upload</a>
        <a (click)="logout($event)" href="#" class="nav-link">sign out</a>
      </ng-template>

      <ng-template [ngSwitchCase]="false">
        <a routerLink="login" routerLinkActive="active" class="nav-link">sign in</a>
      </ng-template>

    </div>

  </nav>

</header>

<router-outlet></router-outlet>

<footer>

  <a routerLink="view/table">table</a>
  <a routerLink="view/block">block</a>
  <a routerLink="upload">upload</a>
  <a routerLink="login">sign in</a>
  <small>Footer should have separate component and service for data handling. WAT???</small>

</footer>
