<header>

  <nav class="navbar navbar-inverse bg-light">
    <span class="navbar-brand mb-0">{{title}}</span>

    <div *ngIf="auth.isAuthorized" class="nav nav-pills">
        <a routerLink="view/table" routerLinkActive="active" class="nav-link">table</a>
        <a routerLink="view/blocks" routerLinkActive="active" class="nav-link">block</a>
        <a routerLink="upload" routerLinkActive="active" class="nav-link">upload</a>
        <a (click)="logout($event)" href="#" class="nav-link">sign out</a>
    </div>

  </nav>

</header>

<div class="p-3">
  <router-outlet></router-outlet>
</div>

<footer>

  <p> {{auth.user?.name }}, {{auth.user?.email }}</p>
  <a routerLink="view/table">table</a>
  <a routerLink="view/block">block</a>
  <a routerLink="upload">upload</a>
  <a routerLink="login">sign in</a>
  <small>Footer should have separate component and service for data handling. WAT???</small>

</footer>
