<div class="login-form">
  <h1>Login</h1>
  <form #loginForm="ngForm" (onSubmit)="login()">
    <div class="form-group" [class.has-danger]="email.invalid">
      <label for="email">Email</label>
      <input [ngModel]="user.email" name="email" #email="ngModel"
             type="email" class="form-control" id="email" placeholder="user@gmail.com"
             required>
      <span *ngIf="email.invalid && (email.dirty || email.touched)" class="form-control-feedback">
          Email is required
      </span>
    </div>
    <div class="form-group" [class.has-danger]="password.invalid">
      <label for="password">Password</label>
      <input [ngModel]="user.password" name="pass" #password="ngModel"
             type="password" class="form-control" id="password" placeholder="test123"
             required>
      <span *ngIf="password.invalid && (password.dirty || password.touched)" class="form-control-feedback">
          Password is required
      </span>

    </div>
    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
