

// Core variables and mixins
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/custom";

// Reset and dependencies
@import "~bootstrap/scss/normalize";
@import "~bootstrap/scss/print";

// Core CSS
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";

// Components
@import "~bootstrap/scss/transitions";
//@import "dropdown";
//@import "button-group";
//@import "input-group";
//@import "custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
//@import "card";
//@import "breadcrumb";
//@import "pagination";
//@import "badge";
//@import "jumbotron";
@import "~bootstrap/scss/alert";
//@import "progress";
//@import "media";
//@import "list-group";
//@import "responsive-embed";
@import "~bootstrap/scss/close";

// Components w/ JavaScript
@import "~bootstrap/scss/modal";
//@import "tooltip";
//@import "popover";
//@import "carousel";

// Utility classes
@import "~bootstrap/scss/utilities";


//@import "~bootstrap/scss/bootstrap";

html, body {
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 2rem;
  //@extend .bg-light;
  @extend .navbar-light;
  @extend .bg-faded;
  padding: 1rem;
  text-align: center;
}

.image-preview-block {
  display: flex;
  @extend .col-xl-2;
  @extend .col-lg-3;
  @extend .col-md-4;
  @extend .col-sm-6;
  @extend .col-12;
  margin-bottom: 1rem;
  height: 310px;
}
