//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";
//@import "~bootstrap/scss/grid";

$bgBlue: #82a3e2;
$previewHeight: 200px;

.wrapper {
  padding: 1rem;
  overflow: hidden;

  > .drop-zone ,
  > app-image-preview {
    height: $previewHeight;
  }

}

.drop-zone {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #001f44;
  background: $bgBlue;
  outline: 2px dashed #335c6c;;
  outline-offset: -.5em;

  transition: background .3s;

  &.drag-over {
    background: darken($bgBlue, 10%);
  }

  &.drag-drop {
    //background: lighten($bgBlue, 25%);
    animation: lightenBg .5s;
  }

}



@keyframes lightenBg {
  0% {
    background: darken($bgBlue, 10%);
  }
  50% {
    background: lighten($bgBlue, 10%);
  }
  100% {
    background: $bgBlue;
  }
}
