@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

$bgBlue: #82a3e2;
$previewHeight: 200px;

.wrapper {
  padding: 1rem;
  overflow: hidden;

  > div {
    height: $previewHeight;
    @extend .col-xl-2;
    @extend .col-lg-3;
    @extend .col-md-4;
    @extend .col-sm-6;
    @extend .col-12;
    margin-bottom: 1rem;
  }

}

.drop-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #001f44;
  background: $bgBlue;
  outline: 2px dashed #335c6c;;
  outline-offset: -.5em;

  transition: background .3s;

  &.drag-over {
    background: darken($bgBlue, 10%);
  }

  &.drag-drop {
    //background: lighten($bgBlue, 25%);
    animation: lightenBg .5s;
  }

}

.preview {

  .preview-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .img-wrapper, .descr{
      display: flex;
    }

  }

  .img-wrapper {
    border: 1px solid #eee;
    justify-content: center;

    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  .descr {
    height: 3em;
    flex-shrink: 0;
    flex-direction: column;


    span {
      line-height: 1.5em;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.6em;
    height: 1.6em;
    border-radius: 0.8em;
    display: none;
    padding: 0;
  }

  &:hover button {
    display: block;
  }

}

@keyframes lightenBg {
  0% {
    background: darken($bgBlue, 10%);
  }
  50% {
    background: lighten($bgBlue, 10%);
  }
  100% {
    background: $bgBlue;
  }
}
