<h1>Upload Images</h1>

<div class="d-flex flex-wrap wrapper">

  <div class="drop-zone" appFilesDnd
       [allowedExtensions]="['jpg','jpeg', 'png']"
       (onDropFiles)="updatePreviews($event)">
    drag files here
  </div>

  <div *ngFor="let key of previewKeys" class="preview">
    <div class="preview-wrapper">
      <div class="img-wrapper">
        <img [src]="previews.get(key).src" [alt]="previews.get(key).name" [title]="previews.get(key).file.name">
      </div>
      <div class="descr">
        <span>File name: {{previews.get(key).file.name}}</span>
        <span>File size: {{previews.get(key).file.size / 1000}} kB</span>
      </div>
      <button (click)="removePreview(key)" class="btn btn-danger">&#10799;</button>
    </div>
  </div>


</div>

<div class="text-right">
  <button (click)="clearAll()" [disabled]="!previews.size" class="btn btn-danger mr-2">Clear all</button>
  <button (click)="save()" [disabled]="!previews.size" class="btn btn-primary">Save</button>
</div>
