<h1>Upload Images</h1>

<div class="wrapper">

  <div class="drop-zone" appFilesDnd
       [allowedExtensions]="['jpg','jpeg', 'png']"
       (onDropFiles)="updatePreviews($event)">
    drag files here
  </div>

  <div *ngFor="let preview of previews;" class="preview">
    <img [src]="preview.src" [alt]="preview.name" [title]="preview.name + ' preview'">
    <span>File name: {{preview.imageName}}</span>
    <span>File size: {{preview.fileSize}}</span>
    <button (click)="removePreview(preview)" class="btn btn-danger">x</button>
  </div>


</div>

<div class="text-right">
  <button (click)="clearAll()" [disabled]="!previews.size" class="btn btn-danger mr-2">Clear all</button>
  <button (click)="save()" [disabled]="!previews.size" class="btn btn-primary">Save</button>
</div>
